#header
  %h1
    %a{:href =>"/", :title => Geido.name}= Geido.name
  .menu
    %a.all{:href => '/admin/posts'} All Posts
    %a.newpost{:href => '/admin/posts/new'} New Post
    %a.logout{:href => '/logout'} Logout
    
    - if @view == "show"
      = admin_links(post)