#header
  %h1
    %a{:href =>"/", :title => Geido.name}= Geido.name
  .menu
    %a.list{:href => '/admin/posts', :class=> @view == 'list' ? 'active' : ''} All Posts
    %a.create{:href => '/admin/posts/new', :class=> @view == 'create' ? 'active' : ''} New Post
    %a.logout{:href => '/logout'} Logout
    - if @view == "show"
      = admin_links(post)